body {
    background-color: white;
    font-size: 70%;
    font-family: poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navitem a{
    font-size: 20px;
}
nav {
    display: flex;
    height: 10vh;
    background-color: rgb(36, 13, 13);
    justify-content: space-between;
}

li {
    list-style: none;
}

.col {
    color: rgb(8, 143, 143);
    font-size: 40px;
}

.text {
    color: white;
    font-weight: 600;
    font-size: 30px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    margin: 0px 10px;
}

a {
    color: white;
    text-decoration: none;
}

.navitem {
    font-weight: bold;
    font-size: 12px;
}

.buttonnav {
    background-color: transparent;
    color: #29d9d5;
    border: 1px solid #29d9d5;
    padding: 9px;
    border-radius: 5px;
}

.photoblog {
    margin: 10px auto;
    background-color: pink;
    padding: 30px;
    padding: 9px;
    border-radius: 3px;
    width: 80%;
}

.blue {
    font-size: 20px;
    font-weight: 900;
    color: rgb(5, 5, 95);
}

.item {
    display: flex;
    margin: 0px auto;
    gap: 5px;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
}
.img{
    width: 300px;
    height: 250px;
    border-radius: 9px;
}
.parent{
    position: relative;
    float:left;
}
.parent:hover{
    filter: grayscale(1);
}
.parent:hover 
.images
  {
  display: block;
  }

.parent .images {
    position:absolute;
    top:0;
    left:0;
    display:none;
}
.letscap {
    display: flex;
    justify-content: center;
    height: 50vh;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    background: url("/img/bgimage2.jpg") no-repeat;
    box-shadow: inset 0px 0px 100em 0px rgb(1, 247, 243, 0.4);
    background-size: cover;
    background-attachment: fixed;
}

.hedsky {
    color: #29d9d5;
    font-size: 20px;
}

.hedwhite {
    color: white;
    font-weight: 900;
    font-size: 50px;
}

.contain {
    text-align: center;
    color: white;
    font-size: 17px;
}

.navitem>a:hover {
    color: #29d9d5;
}

.buttonnav:hover {
    background-color: #29d9d5;
    color: black;
}

footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: black;
    color: white;
}

.first,
.second,
.third {
    width: 30vw;
    display: flex;
    border: 1px solid black;
    flex-direction: column;
}

input {
    border: 1px solid #29d9d5;
    background-color: transparent;
    padding: 9px;
    border-radius: 5px;
}

input:focus {
    border: 1px solid #29d9d5;
    outline: none;
}

input:active {
    border: 1px solid #29d9d5;
}

.icons {
    font-size: 20px;
    color: #29d9d5;
}

h1 {
    font-size: 20px;
}